html {
    scroll-behavior: smooth;
}

.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.extra {
    grid-area: extra;
}
.main-footer {
    grid-area: footer;
}
/* Mobile Layout  <500px*/
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "extra"
        "footer";
}
/* Mobil >500px */
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
            "header  header"
            "nav     nav"
            "sidebar content"
            "extra   footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}