/* @import url(card.css); */
:root {
    --silver-white: #fafafa;
    --sky-blue: #c7eeff;
    --lake-blue: #0077c0;
    --dingy-black: #1d242b;
    /* https://colorhunt.co/palette/38962 */
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--silver-white);
    margin: 0 0 0 0;
}

.main-head {
    grid-area:  header;
    text-align: center;
    background: var(--dingy-black);
    text-align: center;
    font-size:  35px;
    color: var(--sky-blue);
    padding: 60px;
}
.main-content {
    grid-area: content;
}
.portfolio {
    display: grid;
    /* gap: 20px; */
    max-height: 200px;
    min-width: 400px;
    margin: 15px 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* justify-content: center; */
}
.about {
    grid-area: about;
    grid-template-rows: 2fr;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    /* margin: 0, 10, 0, 10; */
}
.cards {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(230px 1fr)); */
    grid-gap: 20px;
    /* object-fit: none; */
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: grid;
    /* grid-template-rows: max-content 200px 1fr; */
  }
  .major-card {
      grid-column: 1/3;
      grid-row: 1/3;
      /* grid-template-columns: 2fr; */
  }
  .minor-card {
      grid-column:1;
      /* grid-template-columns: 2fr; */
      /* display: inline; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    max-height: 180px;
    max-width: 180px;
    font-size: 5;
  }
.main-nav {
    grid-area: nav;
    background-color: var(--lake-blue);;
    overflow: hidden;
}
.main-nav a {
    /* float: left; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.side {
    grid-area: sidebar;
}
.extra {
    grid-area: extra;
}
.main-footer {
    background: var(--sky-blue);
    /* display: grid; */
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    grid-area: footer;
    flex-direction: column;
    justify-content: right;
}
.main-nav a {
    /* padding-right: 250px; */
}
.footer-content-right {
    margin-right:20px;
    /* margin-top:20px; */
    /* float:right; */
  }
  
  .icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
  .icon-style:hover {
    background-color:yellow;
    padding:5px;
  }
.item-minor {
    max-height: 50%;
    max-width: 50%;
}
/* Mobile Layout  screen < 500px*/
.wrapper {
    display: grid;
    grid-template-columns: 2fr;
        grid-template-rows: 2fr 2fr 8fr 1fr 1fr 020px;
        /* gap: 20px; */
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "extra"
        "footer";
}
/* Mobile screen >= 500px*/
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 2fr 2fr ;
        grid-template-rows: auto 1fr 2fr 2fr 1fr;
        grid-template-areas: 
        "nav     nav"
        "header  header"
        "content content"
        "content content"
        "footer   footer";
    }
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}
/* Atleast 700px layout */
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 2fr 14fr 020px;
        grid-template-areas: 
        "nav     nav     nav   "
        "header  header  header"
        "sidebar content extra"
        "footer footer   footer";
    }
    nav ul {
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
        .main-footer {
        flex-direction: row;
        font-size: smaller;
        justify-content: center;
    }
}