html {
    scroll-behavior: smooth;
}

.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.extra {
    grid-area: extra;
}
.main-footer {
    grid-area: footer;
}
/* Mobile Layout */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "extra"
        "footer";
}